a:focus {
  outline: none;
}

a:focus-within img,
img:hover {
  transform: scale(1.1);
  outline: 0.4rem solid red;
}

img {
  margin: 1rem;
}

form {
  display: flex;
}

#searchResults li {
  display: inline;
}
