li span {
  font-weight: bold;
}

#tag {
  display: flex;
  align-items: baseline;
}

#tags li {
  display: inline-flex;
  margin: 0 0 0.5rem 0.5rem;
  background-color: lightgray;
  padding: 0.25rem 0.5rem;
  border-radius: var(--borderRadius);
}

#tags li:hover {
  background-color: gray;
}
