<a routerLink="../">← Back</a>

<ng-container *ngIf="{ image: image$ | async } as data">
  <ng-container *ngIf="data.image">
    <h2>{{ data.image.title }}</h2>
    <img
      height="300"
      width="400"
      [src]="data.image.url"
      [alt]="data.image.title"
    />
    <ul>
      <li>
        <span>Creator:</span>&nbsp;
        <a [href]="data.image.creator_url">{{ data.image.creator }}</a>
      </li>
      <li>
        <span>License:</span>&nbsp;
        <a [href]="data.image.license_url"
          >{{ data.image.license }} {{ data.image.license_version }}</a
        >
      </li>
      <li><span>Height:</span>&nbsp; {{ data.image.height }}</li>
      <li><span>Width:</span>&nbsp; {{ data.image.width }}</li>
      <li id="tag">
        <span>Tags:</span>
        <ul id="tags">
          <ng-container *ngFor="let tag of data.image.tags">
            <li>{{ tag }}</li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="!data.image">
    <h2>Uuuups.</h2>
    <p>The image you've been searching for could not be found.</p>
  </ng-container>
</ng-container>
